<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body style="margin: 0; padding: 0; font-family: sans-serif; color: #262626;">
    <h3>Olá<span th:text="${name}" />, tudo bem?</h3>
    <br>
    <p>Recebemos seu pedido de alteração de senha,</p>
    <p>Clique <a th:href="@{|http://localhost:8080/reset?token=${token}|}">aqui</a> para alterar sua senha!</p>
    <br>
    <h4>Abraços,</h4>
    <h4>Equipe iBicos</h4>
</body>

</html>