<!DOCTYPE html>
<html>

<head>
  <title>Email Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="style.css">
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <header class="header__container">
      <div class="header__logo">
        <img src="./images/logoiBicos.png" alt="iBicos Logo">
      </div>
      <div class="header__title">
        <h3>iBicos</h3>
      </div>
    </header>

    <main class="main__cotainer">
      <p>Importar css/ display flex não funcionam .-.</p>
      <img src="cid:logoiBicos.png" alt="iBicos Logo" />
    </main>

    <footer class="footer__container">

      <div class="footer__info-container">
        <div class="footer_company_message">
          <h2>Abraços,</h2>
          <h2>Equipe iBicos</h2>
        </div>
        <hr class="horizontal-divisor" />

        <div class="info-list-container">
          <header class="info-list-header">
            <h4>Precisa de ajuda? </h4>
            <h4>Estamos pronto para te atender via email ou telefone</h4>
          </header>

          <div class="info-list-content">
            <div class="info-container">
              <img src="./images/util/phone.svg" alt="Phone logo">
              <p>+55 11 1234-5678</p>
            </div>

            <div class="info-container">
              <img src="./images/util/email.svg" alt="Email logo">
              <p>classificantes.contato@email.com</p>
            </div>
          </div>
        </div>

      </div>

      <hr class="horizontal-divisor" />
      <div class="footer__social-media-container">
        <div class="social-media">
          <a href="https://www.facebook.com"><img src="/images/util/facebook.svg" alt="Facebook logo"></a>
        </div>
        <div class="social-media">
          <a href="https://www.instagram.com"><img src="/images/util/instagram.svg" alt="Instagram logo"></a>
        </div>
        <div class="social-media">
          <a href="https://www.twitter.com"><img src="/images/util/twitter.svg" alt="Twitter logo"></a>
        </div>
        <div class="social-media">
          <a href="https://www.linkedin.com"><img src="/images/util/linkedin.svg" alt="Linkedin logo"></a>
        </div>
      </div>
      <div class="footer_copyright__container">
        <p> © Copyright 2020 <strong>iBicos</strong></p>
      </div>
    </footer>
  </div>
</body>

</html>